.card-container {
  display: flex;
  flex-direction: column;
  background-color: #fce700;
  border: 3px solid #ea047e;
  border-radius: 10px;
  padding: 25px;
  font-family: "Space Mono", monospace;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

img {
  height: 180px;
}

.card-container:hover {
  transform: scale(1.05);
}
